/* Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#spotify-container {
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: lightgray;
  display: flex;
}

.aside-nav {
  width: 21vw;
  background-color: black;
  padding: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.content {
  width: 79vw ;
  background-color: #141922;
}

.top-banner {
  height: 90px;
  background-color: #080b12;
}

footer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* Layout */
/* SIDEBAR TOP */
.home-list {
  margin-top: 15px;
}

.aside-nav h3 {
  text-transform: uppercase;
  padding: 10px 0px 10px 10px;
}

.aside-nav ul li {
  list-style: none;
  padding: 10px ;
}

.aside-nav ul li a {
  text-decoration: none;
  color: #636363;
}


.nav-top img {
  height: 40px;
}
/* SIDEBAR TOP */
/* SIDEBAR BOT */
.nav-bot {
  margin-top: auto;
}

.nav-bot p a {
  text-decoration: none;
  color: #636363;
}

.nav-bot p a i {
  padding-right: 7px;
}

.nav-bot p {
  margin: 10px 0 ;
}

#jhon {
  color: #FFF ;
}



/* SIDEBAR BOT */
