/* Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#spotify-container {
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: lightgray;
  display: flex;
}

.aside-nav {
  width: 21vw;
  background-color: black;
  padding: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.content {
  width: 79vw ;
  background-color: #141922;
  overflow-y: scroll;
}

.top-banner {
  height: 90px;
  background-color: #080b12;
}

footer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* Layout */
/* SIDEBAR TOP */
.home-list {
  margin-top: 15px;
}

.aside-nav h3 {
  text-transform: uppercase;
  padding: 10px 0px 10px 10px;
}

.aside-nav ul li {
  list-style: none;
  padding: 10px ;
}

.aside-nav ul li a {
  text-decoration: none;
  color: #636363;
}


.nav-top img {
  height: 40px;
}
/* SIDEBAR TOP */
/* SIDEBAR BOT */
.nav-bot {
  margin-top: auto;
}

.nav-bot p a {
  text-decoration: none;
  color: #636363;
}

.nav-bot p a i {
  padding-right: 7px;
}

.nav-bot p {
  margin: 10px 0 ;
}

#jhon {
  color: #FFF ;
}

/* SIDEBAR BOT */
/* TOP BANNER */

.top-banner {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #080b12;
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  padding: 8px 25px;
  margin-right: 5px;
}
/* TOP BANNER */
/* MUSIC NAV */

.music nav{
  width: 70%;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.music nav a {
  text-decoration: none;
  color: #74767b;
  text-transform: uppercase;
  font-weight: bold;
}

/* MUSIC NAV */
/* RECENTLY PLAYED */

.album {
  display: flex;
  justify-content:

}

.card {
  height: 150px;
}

.recently-played h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  align-self: flex-start;
  margin-left: 15px;
  margin-top: 15px;
}












/* RECENTLY PLAYED */
