#spotify-container {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
}

.aside-nav {
  height: calc(100vh - 90px);
  width: 21vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.content {
  height: calc(100vh - 90px);
  width: 79vw ;
  background-color: #141922;
}

.top-banner {
  height: 90px;
  background-color: #080b12;
}

footer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
}
